body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: white;
}

header {
    text-align: center;
    background-color: #333;
    padding: 20px 0;
}

h1 {
    margin: 0;
    color: #ffcc00;
}

.albums {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.album {
    background-color: #2e2e2e;
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.album:hover {
    transform: scale(1.05);
}

img {
    width: 100%;
    border-radius: 10px;
}

audio {
    width: 100%;
    margin-top: 10px;
}

h2 {
    color: #ffcc00;
    margin: 10px 0;
}

/* Ajustes para pantallas de dispositivos móviles */
@media (max-width: 768px) {
    .albums {
        flex-direction: column;
        align-items: center;
    }

    .album {
        width: 90%;
        margin: 10px 0;
    }
}

/* Ajustes para pantallas más grandes, como tablets y pequeños monitores */
@media (min-width: 769px) and (max-width: 1200px) {
    .albums {
        flex-direction: row;
        justify-content: space-around;
    }

    .album {
        width: 45%;
    }
}

